.flip {
  margin: 20px;
  min-height: 100vh;
  background-color: #8053ff;
  border-radius: 5px;
  display: flex;
  justify-items: center;
  flex-direction: column;
  color: #ffff;
}

h1 {
  text-align: center;
  font-size: 25px;
  margin: 5px;
}

.chat-div {
  width: 75vw;
  min-height: 75vh;
  border-radius: 5px;
  background-color: #ffff;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.input-div {
  display: flex;
}

#input-chat {
  width: 80%;
  margin: 20px;
  border-radius: 5px;
}

.send-icon {
  color: #ffff;
  position: relative;
  top: 27px;
  right: 10px;
  cursor: pointer;
}

.message {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 8px;
  max-width: 70vw;
}

.user {
  align-self: flex-end;
  background-color: #3498db;
  color: #fff;
}

.bot {
  align-self: flex-start;
  background-color: #2ecc71;
  color: #fff;
}

.loading {
  align-self: flex-start;
  background-color: #2ecc71;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  display: none;
}

.copy-icon {
  padding: 4px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  font-size: 22px;
  position: relative;
  left: 90%;
}

.copy-icon:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.error {
  align-self: flex-start;
  background-color: #ef4444;
  color: #fff;
}

@media screen and (min-width: 1000px) {
  .flip {
    width: 90%;
    min-height: 100vh;
    padding: 40px;
  }
  h1 {
    font-size: 30px;
  }

  #input-chat {
    width: 100%;
    font-size: 27px;
    padding: 5px;
  }

  .send-icon {
    font-size: 35px;
  }
}
