.flip {
  width: 80%;
  margin: auto;
  height: 70vh;
  background-color: #8053ff;
  border: 4px solid #8053ff;
  border-radius: 5px;
}

h1 {
  text-align: center;
  color: #ffff;
  font-size: 25px;
  margin: 5px;
}

.chat-div {
  width: 80%;
  height: 50vh;
  border-radius: 5px;
  background-color: #ffff;
  margin: auto;
}
