* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100vw;
  height: 10vh;
  background-color: #f1f5f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.1);
}

.nav-logo {
  font-weight: 700;
  font-size: 18px;
  color: #23155b;
}

nav > div {
  margin: 0 20px;
  font-size: 15px;
}

.nav-links-div {
  display: flex;
}

.btn-txt {
  color: #23155b;
  font-weight: 500;
  margin: 0 10px;
  cursor: pointer;
}

.btn-pr {
  background-color: #8053ff;
  color: white;
  padding: 2px 14px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}

.btn-pr:hover {
  background-color: #928cab;
}

@media screen and (min-width: 1000px) {
  nav {
    height: 12vh;
  }
  nav > div {
    font-size: 22px;
  }
  .nav-link {
    margin: 0px 20px;
  }
  .nav-logo {
    font-size: 30px;
  }
}
